[user]
	name = Alvaro Debernardi
	email = alvarodebernardi1@gmail.com
[core]
	editor = nvim
[alias]
    pl = log --graph --pretty=format:'%C(red)%H %C(cyan)%ad %C(blue)%d%n%C(green)%an:%C(yellow) %s%C(reset)\n' --date=format:'%H:%M %d/%m/%y' --decorate --all

[init]
	defaultBranch = main
